.aboutme{
    h3{
        text-align: center;
    }
    .aboutme-text{
        width: max(320px, 50%);
        
        h4{
            color: #00ff6a;
            margin: 0;
        }
        i{
            font-style: normal;
            color: azure;
        }
        p{
            font-size: 0.8rem;
            text-wrap: balance;
        }
    }
}
@media (min-width: 1024px) {

    .aboutme-text-container{
        display: flex;
    justify-content: center;
    }
    .aboutme-text{
        width: calc(640px + 1rem);
    }
}