.aboutme{
    h3{
        margin-bottom: 0;
    }
    h4{
        color: #00ff6a;
        margin-bottom: 2rem;
        text-align: center;
        i{
            font-style: normal;
            color: azure;
        }
    }
    .aboutme-text{
        width: calc(620px);
        
        p{
            font-size: 0.8rem;
            text-wrap: balance;
        }
    }
}
@media (min-width: 1024px) {

    .aboutme-text-container{
        display: flex;
    justify-content: center;
    }
    .aboutme-text{
        width: calc(640px + 1rem);
    }
}