footer{
    position: relative;
    margin-top: 3rem;
    overflow: hidden;
    .footer-bg{
        position: absolute;
        bottom: 0;
        width: 120%;
        height: 4em;
        background-color: var(--color-bg-primary);
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        opacity: 0.5;
        transform: translate(-10%, 1em);
    
    }
    .footer-container{
        background-color: var(--color-bg-primary);
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        opacity: 0.5;
        /* height: 3rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 1.5rem;
            color: #00ff6a;
            margin-bottom: 0;
        }
        p{
            margin-bottom: 0.5rem;
        }
        .footer-conect{
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
        }
        .footer-conect-left{
            min-width: 320px;
            display: flex;
            align-items: center;
        }
        .footer-conect-rigth{
            min-width: 320px;
            
        }
        > p{
            margin: 2rem 0;
        }
    }
    .glowing-button{
        margin-bottom: 2rem;
      }
      .footer-legend{
        cursor: pointer;
      }

}
@media (min-width: 640px) {
    .footer-conect-left{
        justify-content:flex-end;
    }
    button:hover{
        box-shadow: 0px 0px 13px #00ff6a;
    }
}
@media (max-width: 639.99px) {
  .footer-conect {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-conect-left,
    .footer-conect-right{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;

    }
  }
  .glowing-button{
    margin-left: -2rem;
  }
    
}
