.guides{
    h3{
        margin-top: 5rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .guide-card{
        border: 1px solid transparent;
        border-radius: 10px;
        font-size: 0.8rem;
        aspect-ratio: 1/1;
        background-image: linear-gradient(to right top, #2a3942, #2d3c45, #303e47, #33414a, #36444d);
        box-shadow:  -10px -10px 16px #344752,
        16px 16px 26px #202b32;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease-out;
        img{
            width: 100%;
            height: 70%;
        }
        p{  
            font-size: 0.9em;
            padding: 0 0.5em;
            margin: 0;
            text-align: center;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-wrap: wrap;
        }
    }
}
@media (min-width: 992px) {
    .guide-card-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem
    }
    .guide-card:hover{
        /* transform: perspective(280px)
                    rotateX(5deg)
                    translateY(-5%); */
        border: 1px solid #00ff6a;
        transition: all 0.3s ease-out;
    }
}
@media (max-width: 991.99px) and (min-width: 640px) {
    .guide-card-container{
        width: 95dvw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem
    }
}
@media (max-width: 639.99px) {
    .guide-card-container{
        width: 95dvw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem
    }
}