
.projects{
    max-width: min(992px, 97dvw);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 4rem; */
    h3{
        margin-top: 4rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .void{
        height: 4rem;
    }
    .project-item{
        position: relative;
        background-image: linear-gradient(to right top, #2a3942, #2d3c45, #303e47, #33414a, #36444d);
        box-shadow:  -10px -10px 16px #344752,
                    16px 16px 26px #202b32;
        backdrop-filter: blur( 4px );
        overflow: hidden;

  
        .project-info{
            position: absolute;
            bottom: 0;
            height: 95%;
            border-radius: 10px;
            background: #182229d7;
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border: 1px solid #182229d7;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .project-details{
                width: 320px;
                color: azure;
                p{
                    text-wrap: wrap;
                    font-size: 0.8rem;
                }
            }
            .project-info-footer{
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

        }
        .project-card-header{
            h4{
                color: #00ff6a;
                font-weight: 500;
                text-align: center;
                text-wrap: wrap;
                margin: 0;
                padding-top: 1rem;
            }
            p{
                text-align: center;
                font-size: 0.8em;
                margin: 0;
            }
        }
        .project-card-body{
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;

            .project-imgs-body{
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img{
                    margin: 1rem 0;
                    border-radius: 10px;
                }
            }
            .project-imgs-header{
                img{
                    filter: invert(100%);
                    cursor: pointer;
                }
                img:hover{
                    filter: invert(100%)
                    drop-shadow(0 0 10px #00ff6a);
                    transform: scale(1.2);
                }
            }

            .project-imgs-footer{
                img{
                    filter: invert(100%);
                    cursor: pointer;

                }
                img:hover{
                    filter: invert(100%)
                    drop-shadow(0 0 10px #00ff6a);
                    transform: scale(1.2);
                }
            }
        }
        
    }
    .img-is-active{
        filter: drop-shadow(0 0 10px #00ff6a);
    }

    /* transiciones */
    .fade-enter{
        opacity: 0;
    }
    .fade-enter-active{
        opacity: 1;
    }
    .fade-exit{
        opacity: 1;
    }
    .fade-exit-active{
        opacity: 0;
    }
    .fade-enter-active,
    .fade-exit-active{
        transition: all 300ms;
    }
}
@media (min-width: 640px){
    .project-item{
        border-radius: 50px;
    }
    .project-info{
        left: 50%;
        transform: translateX(-50%);
        width: 78%;
        height: 80%;
    }
    .project-imgs-header,
    .project-imgs-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.6rem;
    }
    .project-imgs-header{
        left: 0.5rem;
    }
    .project-imgs-footer{
        right: 0.5rem;
    }
}
@media (min-width: 1340px) {
    .projects{
        width: 760px;
        margin: 0 auto;
    }
}
@media (min-width: 992px) and (max-width: 1399.99) {
    .projects{
        width: 620px;
    }
}
@media (min-width: 640px) and (max-width: 991.99px){
    .projects{
        width: 90dvw;
        margin: 0 auto;
    }
}
@media (max-width: 639.99px) {
    .project-item{
        border-radius: 10px;
        p{
            margin-bottom: 1rem;
        }
    }
    .projects{
        width: 90dvw;
        margin: 0 auto;
        .project-card-body{
            flex-direction: column;

        }
    }
    .project-imgs-header,
    .project-imgs-footer{
        margin: 0.5rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .project-imgs-header{
        flex-direction: row-reverse;
        margin-top: 1rem;
    }
    .project-imgs-footer{
        margin-bottom: 1rem;
    }
    .project-info{
        width: 100%;
        height: 345px;
        p{
            padding: 0 1rem;
        }
    }


}
